<h1>This is the Model's index page.</h1>


<ul>
    <% @drinks.each do |drink| %>
    <div class="alert alert-info" role="alert">
        <li><a href="/drinks/<%= drink.id%>"><%= drink.name %></a></li>
    </div>
    <% end %>
</ul>
