<div class="jumbotron jumbotron-fluid">
    <div class="starter-template text-center py-5 px-3">
        <h1 class="display-4">Total Drinks</h1>
        <p class="lead">No waiting in line at the bar..</p>
        <img src="/images/totaldrink-m.png" class="img-fluid" alt="...">
    </div>
</div>