<div class="jumbotron jumbotron-fluid">
    <div class="starter-template text-center py-5 px-3">
        <h1 class="display-4">Total Drinks</h1>
        <p class="lead">No waiting in line at the bar...</p>
        <img src="/images/totaldrink-m.png" class="img-fluid" alt="...">
    </div>
</div>

<div class="content">
        <p>Welcome to the Total Drinks App! A brand new product from the AwesomeBar Corporation, in 
        association with Thirsty Media. 
        To get started, <a href="/register">Register</a> or <a href="/login">Log In</a> and begin adding drinks to
        your order. For more information, see what we are <a href="/about">About</a>.</p>
</div>

<div class="sidebar">
        <h4>Sponsors</h4>
        <span class="badge rounded-pill bg-primary">Nautic Dye</span>
        <span class="badge rounded-pill bg-primary">Break Bend</span>
        <span class="badge rounded-pill bg-primary">The Cantina</span>
        <span class="badge rounded-pill bg-primary">Port Sweat</span>
</div>